
body{
    margin: 0;
    font-family: "Lato", sans-serif;
    filter: var(--unlock);
    pointer-events: var(--unlockChoices);
  }
:root{
  /* --modify:135px; */
  --unlock:blur(0.6rem);
  --unlockChoices: none;
}
.fool {

  width: 100px;
  height: 200px;
  position: absolute;
  pointer-events: true;
  z-index:5;
  border: 10px;
  opacity: 0.1;
  background-color:#e9e8e0;
  color:transparent;
}

.sidebar {
  margin-top: 40px;
  padding:0;
  /* width: var(--modify);*/
  display: block;
  border-radius: 15px;
  background-color: #f1f1f1;
  position: fixed;
  height: 360px;
  overflow: over;
  text-align: center;
  
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
  
.sidebar a.active {
  background-color: #292929;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #9e9b9b;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  
}

.sidebar button {
  display: block;
  /* width: var(--modify);  */
  border: none;
  padding: 0px ;
  height:30px;
  margin-top: 10px;
  position: relative;
}
  
.sidebar button.active {
  background-color: #292929;
  color: white;
}

.sidebar button:hover:not(.active) {
  background-color: #9e9b9b;
  color: white;
}



@media screen and (max-width: 700px) {
  .sidebar {
    display: block;
    width: 100%;
    height: 360px;
    position: relative;
    border-radius: 15px;
    
  }
  .sidebar a {display: block; width: 100%;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#nav-dropdown{
  width: 100%;
}

